<app-navbar-menu></app-navbar-menu>
<div><br></div>
<div><br></div>
<div class="container">
  <div style="margin-top: 60px">
    <form (ngSubmit)="update()" [formGroup]="playlistForm">
      <div>
        <table class="font-group">
          <tr>
            <th colspan="3" style="padding-top: 40px">
              <h1 style="color: #161617">Cập nhật danh sách phát</h1>
            </th>
          </tr>
          <div class="font-group">
            <input hidden class="form-control" formControlName="id"
                   id="id" placeholder="name">
          </div>
          <tr>
            <div class="text-left">
              <label style="color: #161617" >Tên danh sách phát</label>
            </div>
            <div class="font-group">
              <input type="text" class="form-control" formControlName="name"
                     id="name" placeholder="name">
            </div>
          </tr><br>
          <tr>
            <td colspan="3">
              <button style="color: #161617" type="submit" class="btn btn-outline-primary">Cập nhật</button> &nbsp;&nbsp;&nbsp;&nbsp;
              <button style="color: #161617" routerLink="/playlist" class="btn btn-outline-success">Quay lại</button>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>


