

<app-navbar-login-resister></app-navbar-login-resister>
<form class="box" *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

  <div class="form-group">
    <!--    <label>Tài khoản</label>-->
    <input type="text" class="form-control" placeholder="Tài khoản" name="username" [(ngModel)]="form.username"/>
  </div>

  <div class="form-group">
    <!--    <label>Mật khẩu</label>-->
    <input type="password" class="form-control" placeholder="Mật khẩu" name="password" [(ngModel)]="form.password"/>
  </div>
  <br>

  <div class="form-group">
    <button id="button" class="btn btn-primary btn-block"
            type="submit">
      Đăng nhập
    </button>
  </div>
  <br>

  <div class="alert alert-danger alert-dismissible fade show" *ngIf="f.submitted && isLoginFailed" style="text-align: center">
    <strong>Lỗi đăng nhập!</strong>
    <br>
    Sai tên tài khoản hoặc mật khẩu.
<!--    <button type="button" class="btn-close-white" data-bs-dismiss="alert"></button>-->

    <!--    Đăng nhập thất bại: {{errorMessage}}-->
  </div>
</form>





