
<div class="carousel-gallery">
  <h4 class="mb-1 text-dark" style="padding-bottom: 20px"><b>Danh sách phát mới nhất</b></h4>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let playlist of playlists">
        <a  data-fancybox="gallery" [routerLink]="['playlists/play',playlist.id]">
          <div class="image" [ngStyle]="{'background-image': 'url(' + playlist.avatar + ')'}">
            <div class="overlay">
              <em class="mdi mdi-play-circle"></em>
            </div>
          </div>
        </a>
        <h6 style="margin-top: 10px; text-align: center; width: 150px">{{playlist.name}}</h6>
      </div>
    </div>
    <div style="margin-top: 50px"></div>
  </div>
</div>
