<app-navbar-user></app-navbar-user>
<form class="box" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" #f="ngForm">
  <h1>Đổi mật khẩu</h1>
  <input formControlName="currentPassword" type="password" name="" placeholder="Nhập mật khẩu cũ">
  <div *ngIf="currentPassword?.hasError('required') && currentPassword?.touched"
       class="text-danger">
    Nhập mật khẩu cũ!
  </div>
  <input formControlName="newPassword" type="password" name="" placeholder="Nhập mật khẩu mới">
  <div *ngIf="newPassword?.hasError('required') && newPassword?.touched"
       class="text-danger">
    Nhập mật khẩu mới
  </div>
  <input formControlName="confirmPassword" type="password" name="" placeholder="Xác nhận mật khẩu" >
  <div *ngIf="confirmPassword?.hasError('required') && confirmPassword?.touched"
       class="text-danger">
    Xác nhận mật khẩu
  </div>
  <div *ngIf="changePasswordForm.hasError('notSame')" class="text-danger">
    Mật khẩu nhập lại không trùng khớp! Vui lòng nhập lại!
  </div>
  <button id="button" class="btn btn-primary btn-block" type="submit" [disabled]="!changePasswordForm.valid">Cập nhật</button>
</form>

<div class="alert alert-danger alert-dismissible fade show" *ngIf="f.submitted && isRepassedFailed">
  Đăng nhập thất bại: {{errorMessage}}
</div>


<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
