<app-navbar-login-resister>1</app-navbar-login-resister>
<form class="box" [formGroup]="registerForm" (ngSubmit)="register()">
  <input formControlName="username" type="text" name="" placeholder="Tên đăng nhập">
  <div *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched"
       class="text-danger">
    Không để trống ô này!
  </div>
  <input formControlName="password" type="password" name="" placeholder="Mật khẩu">
  <div *ngIf="!registerForm.get('password')?.valid && (registerForm.get('password')?.dirty ||registerForm.get('password')?.touched)">
    <div [hidden]="!registerForm.get('password')?.errors?.['required']">
      <p class="text-danger">Không để trống ô này!</p>
    </div>
    <div [hidden]="!registerForm.get('password')?.errors?.['minlength']">
      <p class="text-danger">Mật khẩu từ 6-8 ký tự</p>
    </div>
    <div [hidden]="!registerForm.get('password')?.errors?.['maxlength']">
      <p class="text-danger">Mật khẩu từ 6-8 ký tự</p>
    </div>
  </div>
  <input formControlName="confirmPassword" type="password" name="" placeholder="Nhập Lại Mật khẩu">
  <div *ngIf="!registerForm.get('confirmPassword')?.valid && (registerForm.get('confirmPassword')?.dirty ||registerForm.get('confirmPassword')?.touched)">
    <div [hidden]="!registerForm.get('confirmPassword')?.errors?.['required']">
      <p class="text-danger">Không để trống ô này!</p>
    </div>
  </div>
  <div *ngIf="registerForm.get('confirmPassword')?.touched || (registerForm.get('confirmPassword')?.dirty)">
    <div [hidden]="!registerForm.errors?.['notSame']">
      <p class="text-danger">Không trùng khớp!</p>
    </div>
  </div>
  <input formControlName="phone" type="text" name="" placeholder="Số điện thoại">
  <div *ngIf="!registerForm.get('phone')?.valid && (registerForm.get('phone')?.dirty ||registerForm.get('phone')?.touched)">
    <div [hidden]="!registerForm.get('phone')?.errors?.['required']">
      <p class="text-danger">Không để trống ô này!</p>
    </div>
    <div [hidden]="!registerForm.get('phone')?.errors?.['pattern']">
      <p class="text-danger">Không đúng định dạng SĐT!</p>
    </div>
  </div>
  <button type="submit" [disabled]="!registerForm.valid">Đăng ký</button>
</form>

